body {
    display: flex;
    background: #BEC1BB;
    font-family: 'Roboto', sans-serif;
}

.contactos {
    height: 100vh;
    overflow-y: scroll;
}

.contactos ul {
    margin: 0;
    padding: 0;
}

.contactos ul li {
    list-style: none;
}

.card-container {
    display: flex;
    width: 24rem;
    background: #fff;
    border-bottom: 1px solid #BEC1BB;
}

.card-body {
    overflow: hidden;
    width: 5rem;
    height: 4rem;
}

.new-chat {
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.button {
    font-size: 1.3rem;
    background: #a491d2;
    padding: 1rem 3rem;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.bg-white {
    background: #FFF;
}

.display-flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-flow {
    flex-flow: row wrap;
}

.p-4 {
    padding: 4px;
} 

.p-6 {
    padding: 8px;
}

.display-inline-flex {
    display:inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.card-img-user {
    align-self: flex-start;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
}

#card1 {
    background-image: url(../img/maria.jpg);
}

#card2 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.27.14.jpg);
}

#card3 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.28.04.jpg);
}

#card4 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.28.30.jpg);
}

#card5 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.30.34.jpg);
}

#card6 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.30.54.jpg);
}

#card7 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.31.09.jpg);
}

#card8 {
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.32.44.jpg);
}

.info-container {
    background: #fff;
    height: 4rem;
}

.card-name {
    display: flex;
    background: #fff;
    padding: 1rem 1rem 1rem 1rem;
    width: 3rem;
    height: 1rem;
    justify-content: flex-start;
    margin: 0;
    font-weight: 500;
}

.card-status-user {
    display: flex;
    justify-items: flex-start;
    height: 1rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
    background: #FFF;
    padding: 0 0 0 3px;
    width: 8rem;
    font-size: 14px;
    font-weight: 300;
    color: #BEC1BB;
}

.icon {
    display: inline-flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    align-items: flex-start;
    height: 0.7rem;
    width: 1rem;
    padding: 1.7rem 0 0 3rem;
    margin: 0;   
}

i {
    width:2rem;
    height: 3rem;
    background: #fff;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 400px);
}

img.box-logo {
    width: 20rem;
    height: 20rem;
}
